@model autogreatsite_mvc45.Models.Finder

@{
    ViewBag.Title = "Index";
}

<form action="@Url.Action("")" method="post" data-autogreat-finder="true" data-autogreat-finder-replace="#searchResultSection">

    <div class="row">

        <div class="col-md-4">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_brandId)</dt>
                <dd>@Html.DropDownList("f_brandId", ViewBag.Brands as SelectList, new Dictionary<string, Object> { { "class", "form-control" }, { "data-autogreat-ddl-finder-ajax", "true" }, { "data-autogreat-ddl-finder-action", "Finder/RenewModels/" }, { "data-autogreat-ddl-finder-replace", "#f_modelId" } })</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_modelId)</dt>
                <dd>@Html.DropDownList("f_modelId", ViewBag.Models as SelectList, new Dictionary<string, Object> { { "class", "form-control" } })</dd>
            </dl>

            <div class="col-md-10 text-center">

                <p>Год производства</p>
                <div class="col-md-12 slider" data-autogreat-slider-range="true" data-autogreat-slider-min="@autogreatsite_mvc45.Models.Finder.minYear" data-autogreat-slider-max="@autogreatsite_mvc45.Models.Finder.maxYear" data-autogreat-slider-min-edit="#f_minYear" data-autogreat-slider-max-edit="#f_maxYear"></div>
                <br />
                @Html.EditorFor(model => model.f_minYear)&nbsp;-&nbsp;@Html.EditorFor(model => model.f_maxYear)

            </div>

            <div class="col-md-10 text-center">

                    <p>Цена</p>
                    <div class="col-md-12 slider" data-autogreat-slider-range="true" data-autogreat-slider-min="@autogreatsite_mvc45.Models.Finder.minPrice" data-autogreat-slider-max="@autogreatsite_mvc45.Models.Finder.maxPrice" data-autogreat-slider-min-edit="#f_minPrice" data-autogreat-slider-max-edit="#f_maxPrice"></div>
                    <br />
                    @Html.EditorFor(model => model.f_minPrice)&nbsp;-&nbsp;@Html.EditorFor(model => model.f_maxPrice)

            </div>









        </div>
        <div class="col-md-4">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_bodyType)</dt>
                <dd>@Html.DropDownList("f_bodyType", ViewBag.Bodys as SelectList, new Dictionary<string, Object> { { "class", "form-control" } })</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_drive)</dt>
                <dd>@Html.DropDownList("f_drive", ViewBag.Drives as SelectList, new Dictionary<string, Object> { { "class", "form-control" } })</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_rudder)</dt>
                <dd>@Html.DropDownList("f_rudder", ViewBag.Rudders as SelectList, new Dictionary<string, Object> { { "class", "form-control" } })</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_transmission)</dt>
                <dd>@Html.DropDownList("f_transmission", ViewBag.Transmissons as SelectList, new Dictionary<string, Object> { { "class", "form-control" } })</dd>
            </dl>




        </div>

        <div class="col-md-4">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_minDistance)</dt>
                <dd>@Html.EditorFor(model => model.f_minDistance)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_maxDistance)</dt>
                <dd>@Html.EditorFor(model => model.f_maxDistance)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_minEngine)</dt>
                <dd>@Html.EditorFor(model => model.f_minEngine)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_maxEngine)</dt>
                <dd>@Html.EditorFor(model => model.f_maxEngine)</dd>
            </dl>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.f_minDistance)</dt>
                <dd>@Html.EditorFor(model => model.f_color)</dd>
            </dl>
        </div>
    </div>
    <div class="row text-center">
      <input type="submit" value="Поиск" class="btn btn-default " />
    </div>

</form>