@model IEnumerable<autogreatsite_mvc45.Models.Car>
<div id="searchResultSection">
    @foreach (var item in Model)
            {
        <div class="row">
            <div class="col-md-1">
                <div class="tabledata-img">
                    @if (File.Exists(Server.MapPath("~/Content/Images/brands/" + item.CarModel.Brand.LogoName + ".png")))
                    {
                        <img src="@(String.Format("/Content/Images/brands/{0}.png", item.CarModel.Brand.LogoName))" />

                    }
                    else if (File.Exists(Server.MapPath("~/Content/Images/brands/" + item.CarModel.Brand.BrandName + ".png")))
                    {
                        <img src="@(String.Format("/Content/Images/brands/{0}.png", item.CarModel.Brand.BrandName))" />
                    }
                </div>

            </div>
            <div class="col-md-2">
                <h4>
                    <b>@Html.DisplayFor(modelItem => item.CarModel.Brand.BrandName)</b><br />
                    @Html.DisplayFor(modelItem => item.CarModel.ModelName)
                </h4>
            </div>
            <div class="col-md-offset-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-5"><h4>Цена&nbsp;@Html.DisplayFor(modelItem => item.Price) рублей</h4></div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="avtogreat-wait-div">
                    <a href="@Url.Action("Details","Cars", new { id = item.CarId })">
                        @if ((item.CarPhoto.Count > 0) &&(File.Exists(Server.MapPath(Path.Combine("~/Content/Photo/tmb", item.CarPhoto.First().FileName)))))
                        {
                        <img src="#" alt="" data-echo="@Url.Content(@Path.Combine("~/Content/Photo/tmb", item.CarPhoto.First().FileName))" />
                        }
                        else
                        {
                        <img src="#" alt="" data-echo="@Url.Content("~/Content/Images/nophoto.png")" />
                        }
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <table class="table table-condensed">
                    <tr>
                        <td>год выпуска</td>
                        <td>@Html.DisplayFor(modelItem => item.IssueYar)</td>
                    </tr>
                    <tr>
                        <td>кузов</td>
                        <td>@Html.DisplayFor(modelItem => item.CarBody.Name)</td>
                    </tr>
                    <tr class="hidden-sm hidden-xs">
                        <td>руль</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CarRudder.Name)
                        </td>
                    </tr>

                    <tr>
                        <td>пробег</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistanceTraveled)
                        </td>
                    </tr>
                    <tr class="hidden-sm hidden-xs">
                        <td>привод</td>
                        <td class="hidden-sm hidden-xs">
                            @Html.DisplayFor(modelItem => item.CarTransmission.Name)
                        </td>
                    </tr>
                    <tr class="hidden-sm hidden-xs">
                        <td>цвет</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarColor)
                        </td>
                    </tr>

                </table>

            </div>
            <div class="col-md-2">
                @if (User.IsInRole("Administrator"))
                {
                    <a class="btn btn-warning avtogreat-text-ft40" href="@Url.Action("Edit","Cars", new { id = item.CarId })" role="button">Редактировать</a>
                    <a class="btn btn-danger avtogreat-text-ft40" href="@Url.Action("Delete","Cars", new { id = item.CarId })" role="button">Удалить</a>
                }
                <a class="btn btn-info" href="@Url.Action("Details","Cars", new { id = item.CarId })" role="button">Подробно</a>
            </div>
        </div>
    }

</div>
<script>
    var lazyImgs = document.querySelectorAll('img[data-echo]');
    for (var i = 0; i < lazyImgs.length; i++) {
        new Echo(lazyImgs[i]).init();
    }
</script>
