@model autogreatsite_mvc45.Models.Car

@{
    ViewBag.Title = "Удаление";
}

<h2 class="avtogreat-text-days-red">Удаление</h2>

<h3 class="avtogreat-text-days-ft40">Действительно удалить данную запись?</h3>
<div>
    <h4 class="avtogreat-text-days-ft40" style="text-transform:uppercase">
        @if (File.Exists(Server.MapPath("~/Content/Images/brands/" + Model.CarModel.Brand.LogoName + ".png")))
        {
            <img src="@(String.Format("/Content/Images/brands/{0}.png", Model.CarModel.Brand.LogoName))" height="50" />

        }
        else if (File.Exists(Server.MapPath("~/Content/Images/brands/" + Model.CarModel.Brand.BrandName + ".png")))
        {
            <img src="@(String.Format("/Content/Images/brands/{0}.png", Model.CarModel.Brand.BrandName))" height="50" />
        }
        <span class="avtogreat-text-days">
            @Html.DisplayFor(model => model.CarModel.Brand.BrandName)&nbsp;@Html.DisplayFor(model => model.CarModel.ModelName)
        </span>
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueYar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueYar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceTraveled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceTraveled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarBody.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBody.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarDrive.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarDrive.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CarRudder.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarRudder.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarTransmission.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarTransmission.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CarColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn  btn-danger avtogreat-text-ft40" /> |
            <a class="btn btn-info avtogreat-text-ft40" href="@Url.Action("Index","Cars", new { id = Model.CarId })" role="button">Список</a>
        </div>
    }
</div>
