@model autogreatsite_mvc45.Models.Car

@{
    ViewBag.Title = Html.DisplayFor(model => model.CarBrand.BrandName) + " " + Html.DisplayFor(model => model.Model);
}

<h2>@Html.DisplayFor(model => model.CarBrand.BrandName)&nbsp;@Html.DisplayFor(model => model.Model)</h2>

<td>
    @Html.DisplayNameFor(model => model.Price)
</td>

<td>
    @Html.DisplayFor(model => model.Price)
</td>
<div class="row">
    <div class="col-lg-4">

        <table class="table table-striped">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DistanceTraveled)
                </td>

                <td>
                    @Html.DisplayFor(model => model.DistanceTraveled)
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.IssueYar)</td>
                <td>@Html.DisplayFor(model => model.IssueYar)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CarBody.Name)</td>
                <td>@Html.DisplayFor(model => model.CarBody.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CarColor)</td>
                <td>@Html.DisplayFor(model => model.CarColor)</td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CarRudder.Name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.CarRudder.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CarTransmission.Name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.CarTransmission.Name)
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarBody.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBody.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarBrand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBrand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarDrive.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarDrive.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarEngine.EngineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarEngine.EngineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarRudder.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarRudder.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarTransmission.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarTransmission.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceTraveled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceTraveled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueYar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueYar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


    </dl>
    @if (Model.CarPhoto.Count > 0)
    {
        <label>Фотографии</label>
        foreach (var p in Model.CarPhoto)
        {
            <br />
            @Html.Raw(p.FileName);
            <img src="@Url.Content(Path.Combine("~/Content/Photo",p.FileName))" alt="@p.FileName" / >

        }
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
