@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Список";
}

<h2>Роли пользователей </h2>

@Html.ActionLink("Новая роль", "Create") | @Html.ActionLink("Редактирование ролей", "ManageUserRoles")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Вы точно хотите удалить эту роль?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Удалить</a></span> |
            @Html.ActionLink("Изменить", "Edit", new { roleName = @role.Name })
        </p>
    }
</div>
