@{
    ViewBag.Title = "Редактирование ролей пользователя";
}

<h2>Редактирование ролей пользователя</h2>
@Html.ActionLink("Новая роль", "Create") | @Html.ActionLink("Редактировать роли пользователя", "ManageUserRoles")
<hr />

<h2>Добавить пользователю роль</h2>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Имя пользователя : @Html.TextBox("UserName")
        Роль : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Выбрать ...")

    </p>

    <input type="submit" value="Сохранить" />
}
<hr />
<h3>Узнать роли пользователя</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Имя пользователя : @Html.TextBox("UserName")
        <input type="submit" value="Узнать!" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Роли пользователя  </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Исключить пользователя из роли</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Имя пользователя :  @Html.TextBox("UserName")
        Роль : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Выбрать ...")

    </p>

    <input type="submit" value="Исключить!" />
}
