@model IEnumerable<autogreatsite_mvc45.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarBrand.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueYar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarBody.Name)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarEngine.EngineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarRudder.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarTransmission.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceTraveled)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.CarColor)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarBrand.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IssueYar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarBody.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarEngine.EngineId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarRudder.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarTransmission.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceTraveled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarColor)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarId })
        </td>
    </tr>
}

</table>
