<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Автогрит (Autogreat, Avtogreat) выкуп и продажа автомобилей с пробегом в Екатеринбурге. Возможен трейдин или кредит." />
        <link rel="icon"
              type="image/png"
              href="~/Content/Images/favicon.png">

        <title>Автогрит - автомобили с пробегом в Екатеринбурге | @ViewData["Title"] | avtogreat.com</title>
        <link href="~/Content/Load.css" rel="stylesheet" />
</head>
<body>
    <div class="row" style="background-color:white;">
        <div class="container body-content">
            <div class="row hidden-xs hidden-sm">
                <div class="pull-left col-lg-4 col-md-4">
                    <a href="@Url.Action("Index","Home")" class="">
                        <img class="" src="~/Content/Images/logo_header.png" />
                    </a>
                </div>
                <a href="@Url.Action("Contact","Home")" class="inactive">
                    <div class="pull-right col-lg-8 col-md-8 header-text text-right">
                        <span class="glyphicon glyphicon-pushpin"></span>
                        <span><strong>Екатеринбург, ул. Автомагистральная, 12</strong></span><br />
                        <span><strong>с 10:00 до 20:00, без выходных</strong></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse avtogreat-text-days">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="hidden-lg hidden-md">
                    <a href="@Url.Action("Index","Home")" class="navbar-brand navbar-brand-slim"><img alt="AVTOGREAT" src="~/images/logo_100_30.png" class="img-thumbnail img-responsive nav-image" /></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Каталог", "Index", "Cars")</li>
                    <li>@Html.ActionLink("Кредит", "Credit", "Home")</li>
                    <li>@Html.ActionLink("Trade-in", "TradeIn", "Home")</li>
                    <li>@Html.ActionLink("Выкуп", "Buy", "Home")</li>
                    <li>@Html.ActionLink("Комиссия", "Commision", "Home")</li>
                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
                    }
                </ul>

                <!--@Html.Partial("_LoginPartial")-->

            </div>
        </div>
    </div>

    <div class="container body-content avtogreat-content-container">


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - Компания Автогрит</p>
        </footer>
    </div>


    
    @Scripts.Render("~/scripts/showads.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/dropzonejs");
    @Styles.Render("~/bundles/dropzonecss");


    @RenderSection("scripts", required: false)


</body>

</html>
